.header {
  display: flex;
  padding-top: var(--spacing-500, 40px);
  align-items: center;
  gap: -32px;
  align-self: stretch;
  background-color: grey;
}
#left {
  display: flex;
  padding-left: var(--spacing-800, 64px);
  align-items: center;
  gap: var(--spacing-800, 64px);
  flex: 1 0 0;
}
#right {
  display: flex;
  min-width: 664px;
  padding: 0 var(--spacing-800, 64px);
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-600, 48px);
  flex: 1 0 0;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(40px);
  flex-direction: row;
}
a {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}
