<div class="header">
    <div id="left">
        <img src="./logo.svg" alt="">
<hr style="width: 100%;">

    </div>
    <div id="right">
        <div id="h">  <a routerlink="/"><h1>00 </h1> HOME</a></div>
        <div id="d">  <a routerlink="/destination"><h1>01 </h1> DESTINATION</a></div>
        <div id="c">  <a routerlink="/crew"><h1>02 </h1> CREW</a></div>
        <div id="t">  <a routerlink="/tech"><h1>03 </h1> TECHNOLOGIES</a></div>
        
      
       
        
      
     
    </div>
</div>
